body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    color: fuchsia;
    text-align: center;
    margin: 0%;
    padding: 0%;

}
header{
    background-color: brown;
    color: white;
    padding: 1.5em 0;
}
section{
margin: 2em auto;
width: 80%;
}
footer{
    background-color: darkblue;
    color: white;
    padding: 1em 0;
}
h1{
    transition: transform 0.3s;
    
}
h1:hover{
    transform: scale(1.1);
    color: peru;
}